.image-marker-icon {
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
  background: white;
}

.image-marker-icon:hover {
  border-color: #427ef3;
}

.litter-marker-icon:hover {
  border-color: #e80000;
}
